---
import Layout from '@layouts/Layout.astro'
import ChatContainer from '@components/ChatContainer.tsx'
---

<Layout title="Chat Bot 🤖">
  <section class="flex flex-1 flex-col justify-end py-5">
    <ChatContainer client:load />
  </section>
</Layout>
